html,
body {
  height: 100%;
  width: 100%;

  margin: 0 !important;

  background: #112;

  text-align: center;
}

img {
  margin: auto;
  height: calc(100vh - 20px);
  border-radius: 5px;
  box-shadow: 0 3px 15px 5px rgba(0, 0, 0, .5);
  z-index: 100;
}

video {
  z-index: 0;
  margin: auto;
  height: calc(100vh - 5px);
  width: calc(100vw - 5px);
}